@import 'colors';

.btn{
    padding: 12px 20px;
    color: map-get($colors,'text');
    border: none;
    border-radius: 4px;
    font-size: $font-sm;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover{
        background: #408cfd;
        color: #000;
        // transform: scale(1.15);
        box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.4);
    }
    &:nth-last-child(2){
        background: #22bd75;
    }
    &:last-child:hover{
        background: #09aecf;      
    }
}

.btnc{
    padding: 12px 20px;
    width: 150px;
    color: map-get($colors,'text');
    position: absolute;
    bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: $font-sm;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover{
        background: #c11c2c;
        color: #000;
        transform: scale(1.15);
        box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.4);
    }
}